* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    border: 2px solid green;
    padding: 2em;
}

div {
    border: 2px solid blue;
    padding: 2em;
    max-width: 700px;
    margin: 0 auto;
}

header,
main,
footer {
    border: 2px solid black;
    padding: 2em;
}

header,
main {
    margin-bottom: 2em;
}

p {
    text-align: center;
}