* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-family: 'Lato';
}

body {
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: white;
    border-radius: 0.3em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 2em;
    max-width: 500px;
}

.container>*:not(:last-child){
    margin-bottom: 1em;
}

li:first-child{
    margin-top: 1em;
}

li{
    margin-left: 2em;
}