* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    padding: 2em;
}

h1 {
    margin-bottom: 0.5em;
}

h2 {
    margin: 0.5em 0;
}

.flex-container {
    width: 400px;
    padding: 1em;
    border: 2px solid blue;
    display: flex;
    align-items: flex-start;
    height: 300px;
}

.flex-item {
    background: #eee;
    padding: 20px;
    border: 2px solid #000;
}

.flex-start .flex-item:nth-child(2){
    align-self: flex-start;
}

.center .flex-item:nth-child(2){
    align-self: center;
}

.flex-end .flex-item:nth-child(2){
    align-self: flex-end;
}

.baseline .flex-item:nth-child(2){
    align-self: baseline;
}